# Dependências
node_modules/

# Build
dist/
.next/
out/
*.local

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente
.env
.env.*.local

# Editor / SO
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/*
!.vscode/extensions.json

# TypeScript
*.tsbuildinfo
